---
export interface Props {
	eventNo: string;
	title: string;
	date: string;
	venue: string;
	regLink?: string;
}

const { eventNo, title, date, venue, regLink = "#" } = Astro.props;
---

<section id={eventNo} class="font-poppins border-2 px-3 py-2 hover:cursor-pointer  text-slate-400 ">
	<p class="text-center"><strong>EVENT {eventNo}</strong></p>
	<h1 id="title">Title: {title}</h1>
	<p id="date">Date: {date}</p>
	<p id="venue">Venue: {venue}</p>
</section>

<style>
	section{
		backdrop-filter: blur(3px);
	}
</style>