---
export interface Props {
	eventNo: string;
	title: string;
	date: string;
	venue: string;
	regLink?: string;
}

const { eventNo, title, date, venue, regLink = "#" } = Astro.props;
---

<section id={eventNo} class="font-poppins border-t-2 border-b-2 px-3 py-2 hover:cursor-pointer  text-slate-100 ">
	<p class="text-center pb-2"><strong>EVENT {eventNo}</strong></p>
	<h1 id="title"><span class="text-slate-400">Title:</span> {title}</h1>
	<p id="date"><span class="text-slate-400">Date:</span> {date}</p>
	<p id="venue"><span class="text-slate-400">Venue:</span> {venue}</p>
</section>

<style>
	section{
		backdrop-filter: blur(10px);
	}
</style>